# Number:-

In [1]:
# Integer---------->
num = 23
print(num)
type(num)

23

int

In [2]:
# Float--------------------->

num = 487.92
print(num)
type(num)

487.92

float

In [3]:
# Complex number-------------->

a = 4+87j
print(a)
type(a)

(4+87j)

complex

# String:-

In [4]:
string = "Hii Python!!"
print(string)
type(string)

Hii Python!!

str

In [5]:
string = 'Hey Python!'
print(string)
type(string)

Hey Python!

str

In [6]:
string = """~~Hi! Python~~"""
print(string)
type(string)

~~Hi! Python~~

str

In [8]:
string = """Hi Guys!
Good Morning"""
print(string)
type(string)

Hi Guys!
Good Morning

str

In [9]:
string = jhfkk
print(string)
type(string)

NameError: name 'jhfkk' is not defined

# List:-

In [10]:
list = [1,2,3,'python',True,45.67,-45]
print(list)
type(list)

[1, 2, 3, 'python', True, 45.67, -45]

list

In [12]:
list[2] = 45
print(list)

[1, 2, 45, 'python', True, 45.67, -45]

# Tuple:-

In [15]:
tup = (34,56,78,"Python",True,-87,24.56)
print(tup)
type(tup)

(34, 56, 78, 'Python', True, -87, 24.56)

tuple

In [16]:
tup = (10)
print(tup,type(tup))

10 <class 'int'>

In [18]:
tup = (34,56,78,"Python",True,-87,24.56)
tup(3) = 67
print(tup)

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (3334074822.py, line 2)

# Dictionary:-

In [20]:
d = {1:'value','key':2}
print(d,type(d))

{1: 'value', 'key': 2} <class 'dict'>

# Set:-

In [21]:
my_set = {1,2,3,34,65,79}
print(my_set,type(my_set))

{65, 2, 3, 34, 1, 79} <class 'set'>

# User Input:-

In [22]:
# Getting user input and type casting------------------>

x = input("Enter something")
print("This is",x)

Enter somethingHi
This is Hi

In [23]:
# Type Casting----------------->

x = int(input("Enter the number:"))
print(x)

Enter the number:56
56

In [24]:
x = int(input("Enter first number:"))
y = int(input("Enter second number:"))
print(x+y)

Enter first number:5
Enter second number:4
9

In [25]:
x = float(input("Enter first number:"))
y = float(input("Enter second number:"))
print(x+y)

Enter first number:4
Enter second number:67
71.0

In [26]:
x = int(input("Enter first number:"))
y = float(input("Enter second number:"))
print(x+y)

Enter first number:34
Enter second number:56
90.0

In [27]:
x = int(input("Enter first number:"))
y = (input("Enter second number:"))
print(x+y)

Enter first number:45
Enter second number:6

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [28]:
# Concatenation----------->

x = input("Enter first number:")
y = input("Enter second number:")
print(x+y)

Enter first number:56
Enter second number:34
5634