In [1]:
d = {
    'name':'Python',
    'fees':8000,
    'duration':'2 months'
    }
print(d)
type(d)

{'name': 'Python', 'fees': 8000, 'duration': '2 months'}

dict

In [2]:
# Access elements from a dictionary

n = d['name']
print(n)

Python

In [3]:
for i in d:
    print(d[i])

Python
8000
2 months

# Dictionary Function

In [4]:
# get()
# keys()
# values()
# items()

dic = {
    'name':'Sonkit',
    'age':24,
    'salary':40000
}
print(dic)

{'name': 'Sonkit', 'age': 24, 'salary': 40000}

In [5]:
# get()------------>
g = dic.get('name')
print(g)

Sonkit

In [9]:
n = d['name']
print(n)

Python

In [11]:
# keys()-------------->

for i in dic.keys():
    print(i)

name
age
salary

In [12]:
# values()----------->

for i in dic.values():
    print(i)

Sonkit
24
40000

In [15]:
v = dic.values()
print(v)

dict_values(['Sonkit', 24, 40000])

In [16]:
# items()---------->

for a,b in dic.items():
    print(a,b)

name Sonkit
age 24
salary 40000

In [17]:
i = dic.items()
print(i)

dict_items([('name', 'Sonkit'), ('age', 24), ('salary', 40000)])

In [22]:
# del()--------------->
del (dic['age'])
print(d)

{'course': 'Python', 'duration': 'Two Months'}

In [21]:
d = {
    'course':'Python',
    'fees':10000,
    'duration':'Two Months'
}
del d['fees']
print(d)

{'course': 'Python', 'duration': 'Two Months'}

In [23]:
# pop()-------------------->

print(d.pop('duration'))

Two Months

In [24]:
print(d)

{'course': 'Python'}

In [25]:
# dict()------------>

di = dict(name = 'python',fees=5000)
print(di)

{'name': 'python', 'fees': 5000}

In [26]:
# update()---------->
di.update({"fees":7000})
print(di)

{'name': 'python', 'fees': 7000}

In [27]:
# clear()----------->

di['desc'] = "This is Python"
print(di)

{'name': 'python', 'fees': 7000, 'desc': 'This is Python'}

In [28]:
d = {
    'name':'Atul',
    'age':34,
    'duration':'2 months'
}

d['name'] = 'Vivek'
print(d)

{'name': 'Vivek', 'age': 34, 'duration': '2 months'}

In [29]:
d.clear()
print(d)

{}

# Nested Dictionary

In [33]:
course = {
    'name1':'Python',
    'name2':'PHP',
    'name3':'Java',
    'details':{
        'fees':19000,
        'duration':'2 months'
    }
}
print(course)

{'name1': 'Python', 'name2': 'PHP', 'name3': 'Java', 'details': {'fees': 19000, 'duration': '2 months'}}

In [31]:
type(course)

dict

In [32]:
print(course['name1'])

Python

In [34]:
print(course['details']['fees'])

19000

In [35]:
print(course['details']['duration'])

2 months

# Tuple:-

In [36]:
tup = (23,45,67,98,53,21)
print(tup)
type(tup)

(23, 45, 67, 98, 53, 21)

tuple

In [37]:
a = tup[2]
print(a)

67

In [38]:
# When we pass single value----------->

t = (34)
print(t)
type(t)

34

int

In [39]:
t = ("Python")
print(t,type(t))

Python <class 'str'>

In [40]:
t = 34,57,87,32,12
print(t)
type(t)

(34, 57, 87, 32, 12)

tuple

In [42]:
# Iterate----->
for i in t:
    print(i)

34
57
87
32
12

In [43]:
l = len(t)
for i in range(l):
    print(i)

0
1
2
3
4

In [44]:
l = len(t)
for i in range(l):
    print(t[i])

34
57
87
32
12

In [56]:
# empty dictionary------------>

dic = {}
print(dic,type(dic))

{} <class 'dict'>

# Tuple Function

In [46]:
# min()
# max()
# count
# index()
# sum()

t = (34,21,34,78,89,54,32,2,4)
m = min(t)
print(m)

2

In [47]:
# max()-------------->

m = max(t)
print(m)

89

In [49]:
# count():----------------->

m = t.count(32)
print(m)

1

In [50]:
# index()----------------->

i = t.index(89)
print(i)

4

In [52]:
i = t.index(100)
print(i)

ValueError: tuple.index(x): x not in tuple

In [51]:
# sum()------------->

s = sum(t)
print(s)

348

In [53]:
t = (23,45,67,True)
s = sum(t)
print(s)

136

In [54]:
t = (43,23,76,'python')
s = sum(t)
print(s)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [55]:
# empty tuple------------>

t = ()
print(t)
type(t)

()

tuple

In [58]:
for i in t:
    print(i)

In [ ]:
x = 10
print(x)